/* DISPLAY OPTIONS */

html, body {
	height: 100%;
	background-color: #f5f5f5;
	color: #797979;
}

.jumbotron {
	background-color: #ececec;
}

.frontend-bg {
	background-color: #1a1d23;
}

.light-bg {
	background-color: #FFF;
}

.dark-bg {
	background-color: #232323;
}

.edjing-free-bg {
	background-color: #161621;
}

.karaoky-bg {
	background-color: #7540f7;
}

.edjing-scratch-bg {
    background-color: #f7d2b9;
}

.edjing-pro-bg {
	background-color: #18191b;
}

.edjing-pro-black-bg {
	background-color: #000;
}

.edjing-pro-bg-orange {
	background-color: #ff9144;
}

.bassboost-bg {
    background-color: #e3e0fa;
}

.lana-bg {
	background-color: #ffc62c;
}

.lana-bg-red {
	background-color: #ff2e2f;
}

.lana-bg-orange {
	background-color: #f97a22;
}

.lasuite-bg {
    background-color: #000;
}

.background-main {
	background-color: #232323;
}

.lana-bg-main {
	background-color: #ffc62c;
	background-image: url(../img/lanabackgroundmain.png);
	background-repeat: no-repeat;
}

.no-rounded {
	border-radius: 0rem!important;
}

.fill {
	min-height: 100%;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one <img draggable="false" class="emoji" alt="🙂" src="https://s.w.org/images/core/emoji/72x72/1f642.png">       */
  display: flex;
  align-items: center;
}

.vertical-center-text {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  display: flex;
  align-items: center;
}

.fullframe {
	width: 100%;
	padding: 0 20px 20px 20px;
}

.webshowcase {
	border-radius: 20px;
	box-shadow: 0 10px 20px rgb(21, 23, 29);
}

.insta-row {
	padding-right: 15px;
    padding-left: 15px;
}

.insta-col {
	padding-right: 1px;
    padding-left: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.rounded100 {
    border-radius: 100%;
}

.rounded004 {
    border-radius: 4px;
}

.marge-works {
	margin-top: 15px;
	margin-bottom: 15px;
}

.works {
	transition: all 0.2s ease;
	/*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);*/
}

.works:hover {
	/*box-shadow: 0 20px 100px rgba(0, 0, 0, 0.3);*/
	transform: translateY(-3px);
	transition: all 0.2s ease;
}

.navbar {
	/* background-color: #FFF;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); */
	padding: 0rem 1rem;
}

.navbar-nav {
	flex-direction: row;
}

.container > .navbar {
	border-bottom: 2px solid #e8e8e8;
	padding: 1rem 0rem;
}

.work-switch {
	width: 100%;
	display: inline-block;
	padding: 0.5rem 0rem;
	border: 2px solid #e8e8e8;
	text-align: center;
	color: #292929;
	transition: all 0.2s ease;
}

.work-switch:hover {
	color: #292929;
	border: 2px solid #0990ff;
	transition: all 0.2s ease;
}

.footer {
	background-color: #efefef;
	border-top: 2px solid #e8e8e8;
	color: #333;
}

.footer > .container {
}

.appicons {
	border-radius: 24%;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease;
}

.appicons:hover {
	box-shadow: 0 30px 30px rgba(0, 0, 0, 0.15);
	transform: translateY(-10px);
	transition: all 0.3s ease;
}

.stickersvideo {
	border-radius: 100%;
    border: 3px solid #000;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.pnganim {
	display: inline-block;
	width: 536px;
	height: 536px;
  	animation: stickers-cycle 1.5s steps(14) infinite;
  	/* animation-timing-function: ease-in-out;
  	animation-direction: alternate; */
  	background: url(../img/pnganim-logo.png) 0 0;
    /* box-shadow: 0 0px 430px rgb(255, 0, 0); */
    border-radius: 100%;
}

@keyframes stickers-cycle {  
  	0% {background-position: 0px 0px; } 
  	100% {background-position: -7504px -0px; } 
}

.pillule {
	height: 78px;
	border: 2px solid #ffb72c;
	border-radius: 78px;
	box-sizing: border-box;
	overflow: hidden;
}

.pastille {
	width: 74px;
	height: 74px;
	border: 2px solid #FFF;
	box-sizing: border-box;
	border-radius: 100%;
	float: left;
}

.pillule-txt {
	font-weight: 600;
	float: left;
    padding: 13px 0px;
}

.lana-container {
	border: 2px solid #ffb72c;
	border-radius: 6px;
	box-sizing: border-box;
	padding-right: 0px;
	padding-left: 0px;
	transform: translate(0px, 40px);
}

.facebookbadgelana {
	border-radius: 0px 0px 4px 4px;
}

.head-container {
	overflow: hidden;
	display: inline-block;
}

.head-pic {
	opacity: 0;
	visibility: hidden;
	padding: 10px 20px 10px 0px;
	width: 96px;
	float: left;
	transition: all 0.2s ease;
}

.head-title {
	float: left;
	transform: translate(-96px);
	transition: all 0.2s ease;
}

.head-container:hover > .head-pic {
	opacity: 1;
	visibility: visible;
	transition: all 0.2s ease;
}

.head-container:hover > .head-title {
	transform: translate(0px);
	transition: all 0.2s ease;
}

.head-links {
	padding: 0.5rem 1rem;
	border: 2px solid #171717;
    border-radius: 4px;
    margin: 0rem 0.5rem;
}

/* FONTS */

.strong-message {
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
}

.strong-message > a {
	color: #292929;
}

.strong-message > a:hover {
	text-decoration: none;
}

.under-strong {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.open-sans {
	font-family: 'Open Sans', sans-serif;
}

.navbar-brand {
	width: 122px;
	height: 50px;
	font-weight: 600;
	background-image: url("../img/logo@2x.png");
	background-size: 100%;
	background-repeat: no-repeat;
}

.nav-link {
	font-weight: 600;
	color: #292929;
	font-size: 0.875em;
	transition: all 0.2s ease;
	text-transform: uppercase;
	letter-spacing: 2px;
	border: 2px solid #f5f5f5;
	border-radius: 4px;
	margin: 0rem 0.5rem;
	padding-right: 1rem!important;
    padding-left: 1rem!important;
}

.nav-link:hover {
	color: #292929;
	border-radius: 4px;
	transition: all 0.2s ease;
	border: 2px solid #e8e8e8;
}

.nav-link.active {
    color: #0990ff!important;
    border: 2px solid #0990ff;
    background-color: #f5f5f5;
}

.footer-text {
	color: #484848;
}

.footer-links {
	color: #484848;
	font-weight: 600;
	transition: all 0.2s ease;
}

.footer-links:hover {
	color: #0990ff!important;
	text-decoration: none;
	color: #333;
	transition: all 0.2s ease;
}

.project-link {
	color: #b7b7b7;
}

.project-link:hover {
	color: #0990ff;
	text-decoration: none;
}

.polaroid-container {
	background-color: #FFF;
	padding: 15px;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.polaroid-top {
	box-shadow: inset 0 0 10px #000000;
}

.polaroid-text {
	font-family: 'Gloria Hallelujah', cursive;
	color: #1f1f1f;
	padding-top: 25px;
	padding-bottom: 10px;
	text-align: center;
	transform: rotate(-4deg);
}

.polaroid-text-2 {
	font-family: 'Gloria Hallelujah', cursive;
	color: #1f1f1f;
	padding-top: 25px;
	padding-bottom: 10px;
	text-align: center;
	transform: rotate(1deg);
}

.polaroid-text-3 {
	font-family: 'Gloria Hallelujah', cursive;
	color: #1f1f1f;
	padding-top: 25px;
	padding-bottom: 10px;
	text-align: center;
	transform: rotate(-1deg);
}

.eproiphoneshadow {
	border-radius: 6%/12%;
	box-shadow: 0 50px 100px rgba(169, 44, 24, 0.78);
}

.eproscreenshadow {
	border-radius: 1%/2%;
	box-shadow: 0 50px 100px rgba(169, 44, 24, 0.78);
}


.eproappiconshadow {
	border-radius: 23%;
	box-shadow: 0 50px 100px rgba(169, 44, 24, 0.78);
}

.eproshadowonblack {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
	border-radius: 6px;
}

.container80percent {
	position: relative;
}

.wip-container {
	position: relative;
}

.wip-text-container {
	position: absolute;
	opacity: 0;
	width: 100%;
    height: 100%;
    z-index: 100;
    background: #eaeaea;
    display: flex;
    align-items: center;
    transition: all 0.2s ease;
    border-radius: 4px;
}

.wip-text {
	text-align: center;
    /* border: 2px solid #fff; */
    font-size: 12px;
    padding: 10px 15px 10px 15px;
    border-radius: 30px;
    background: #1f1f1f;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	margin: 0rem;
}

.home-wip {
	position: absolute;
}

.wip-container:hover > .wip-text-container {
	opacity: 1;
	/* border-radius: 20px; */
	transform: translateY(-3px);
	transition: all 0.2s ease;
}

.wip-container:hover > .works {
	/*box-shadow: 0 20px 100px rgba(0, 0, 0, 0.3);*/
	transform: translateY(-3px);
	transition: all 0.2s ease;
}

@media (max-width: 538px) { 
	.head-pic {
	    opacity: 1;
	    visibility: visible;
	    padding: 10px 20px 10px 0px;
	    width: 96px;
	    float: left;
	    transition: all 0.2s ease;
	}

	.head-title {
	    transform: translate(0px);
	}
}

/* TEXT COLORS */

.text-secondary {
    color: #525252 !important;
}

.wip-explaination {
    color: #c5c5c5;
}

.webtitle {
	color: #7e889e;
}

.white-text {
	color: #fff;
}

.dark-text {
	color: #292929;
}

.sub-dark-text {
	color: #bbbbbb;
}

.ex-light {
	color: #848484;
}

.edjingfreetitle {
	color: #7c7c8a;
}

.edjingfreesub {
    color: #4c4c5f;
}

.karaokytitle {
    color: #381e77;
}

.karaokysub {
    color: #482996;
}

.edjingscratchtitle {
	color: #846a59;
}

.edjingscratchsub {
    color: #bd957a;
}

.edjingprotitle {
    color: #7f848e;
}

.edjingprosub {
	color: #404246;
}

.bassboosttitle {
    color: #787594;
}

.bassboostsub {
    color: #ada9ce;
}

.lanaprojecttitle {
	color: #784a0f;
}

.lanaprojectsub {
	color: #9b5904;
}

.lanaprojectpillule {
	color: #9b5904;
	margin: 0px;
	padding-left: 15px;
}

.lanayellow {
	color: #ffc62c;
}

.eprotextorange {
	color: #9f361d;
}

.eprotitle {
	color: #ff9144;
}

.eprosub {
	color: #fff;
}

.percent80 {
	font-size: 42px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 98px;
	height: 63px;
	margin-top: -31px;
	margin-left: -49px;
}

.eprop {
	color: #73767c;
}